body {
    background-color: lightpink;
    font-size: 40px;

    /* background color must be separate from the rest as im not applying it to everything */
}

body, *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 22%; 
    height: 500px;
    background-color: lightblue;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}
.card-img {
    width: 100%;
    height:50%;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.buy-btn {
    font-size: 20px; 
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

.buy-btn:hover {
    transform: scale(1.1);
    background-color: #ff1493;
}


/* a,
a:visited,
a:active {
    code (have same code for all these functions)
} */


.card-title {
    font-weight: 100;
    color: black;
    font-style: italic;
    font-size: 30px;
    align-items: center;
}

/* 
@media screen and (max-width:800px){
    .card {
        width:100%
    }
    .container {
        background-color: red;
    }

@media screen and (max-width:600px) {
    .container {
        background-color: green;
    }
}} */


.container {
    width: 90vw;
    background-color: lightpink;    
    display: flex;
    margin: 25px auto;
    /* auto automatically calculates equal margins on both sides */
    align-items: flex-end;
    justify-content: space-around;
    flex-wrap: wrap;
    /* extra space on left and right of each print-color-adjust
    space-between gives space between the cards but not on the edges */
   
    /* wraps the cards around onto the next line if there are too many to fit on one line */
    /* The combination of .container's display: flex; flex-wrap: wrap; and .card's width: 20%; causes the cards to wrap into multiple rows, typically resulting in 4 cards per row (if margins and padding allow), and 3 rows for 12 cards. */
}